ul {
  list-style: none;
}

.list1:before{ 
  content:'';
  display:inline-block;
  height:10px;
  width:10px;
  margin-left:-1em;
  margin-right:2px;
  background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Location_dot_red.svg/1024px-Location_dot_red.svg.png); 
  background-size:contain; 
}

#list2 {
  list-style-image: url('Square-Red.png');
}