.longP::first-line {
	color: red;
}

p:not(.longP){
	color:blue;
}

span:first-of-type {
	color:blue;
}

span:last-of-type {
	color:brown;
}

li:only-child {
	color: red;
}

span:nth-child(4){
	color:gray;
}

span:nth-last-child(4) {
	color:lime;
}

li:nth-of-type(2){
	color:lightblue;
}

li:nth-last-of-type(3){
	color:lightgreen;
}

#secondul li:last-child{
	color:orange;
}

:root {
	background-color:#EEEEEE;
}

p:empty{
	background-color: red;
	width:100px;
	height:30px;
}

::selection {
	color:yellow;
	background-color:red;
}