providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "C:\\Users\\dawid\\Documents\\UWr\\PO\\Lista3"
          source: "C:\\Users\\dawid\\Documents\\UWr\\PO\\Lista3\\.build-tools.cson"
          name: "make_dict_exe"
          command: "csc.exe /r:C:\\Users\\dawid\\Documents\\UWr\\PO\\Lista3\\Słownik_klasa.dll -out:Słownik.exe Słownik.cs"
          wd: "."
          env: {}
          modifier: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: false
              stdin: false
            linter:
              no_trace: false
              immediate: false
          version: 2
        }
        {
          project: "C:\\Users\\dawid\\Documents\\UWr\\PO\\Lista3"
          source: "C:\\Users\\dawid\\Documents\\UWr\\PO\\Lista3\\.build-tools.cson"
          name: "make_dict_library"
          command: "csc -target:library Słownik_klasa.cs"
          wd: "."
          env: {}
          modifier: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: false
              stdin: false
            linter:
              no_trace: false
              immediate: false
          version: 2
        }
        {
          project: "C:\\Users\\dawid\\Documents\\UWr\\PO\\Lista3"
          source: "C:\\Users\\dawid\\Documents\\UWr\\PO\\Lista3\\.build-tools.cson"
          name: "make_list_exe"
          command: "csc /r:C:\\Users\\dawid\\Documents\\UWr\\PO\\Lista3\\Lista_klasa.dll -out:Lista.exe Lista.cs"
          wd: "."
          env: {}
          modifier: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: false
              stdin: false
            linter:
              no_trace: false
              immediate: false
          version: 2
        }
        {
          project: "C:\\Users\\dawid\\Documents\\UWr\\PO\\Lista3"
          source: "C:\\Users\\dawid\\Documents\\UWr\\PO\\Lista3\\.build-tools.cson"
          name: "make-list-library"
          command: "csc -target:library Lista_klasa.cs"
          wd: "."
          env: {}
          modifier: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output: {}
          version: 2
        }
      ]
  }
]
